<template name="AppLayout">
	<header class="app-header">
		<nav class="blue-grey lighten-1">
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo">
	      	SOV
	      	<!--<img class='responsive-img' style='max-height:60px;padding:10px' src='/images/logo.png'>-->
	      </a>
	      <!--<ul id="nav-mobile" class="right hide-on-down-only">
	        <li><a href="sass.html">Sass</a></li>
	        <li><a href="badges.html">Components</a></li>
	        <li><a href="collapsible.html">JavaScript</a></li>
	      </ul>-->
	    </div>
	  </nav>

	</header>
	<main class="app-container">
		{{> Template.dynamic template=content}}
	</main>
	<footer class="page-footer grey lighten-2">
		<div class="container">
			<p>Copyright © 2010 - 2018 | Klaus Wuestefeld</p>
		</div>
	</footer>
</template>